/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  border-color: green;
}
.SummaryText
{
  margin: auto;
  width: 50%;

}


.p
{
  width: 30%;
}

.Edpictures{

  width: 200px;
}

